@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
   font-family: 'Poppins', sans-serif;
}

.active {
   background-color: #00ABE4;
   color: white;
   border: 1px solid white;
}

.inactive {
   background-color: white;
   color: #00ABE4;
}

.navlink img {
   width: 18px;
}

.banner {
   background: url(C:\x_code\Jasa_ku\frontend\public\assets\banner.jpg);
   height: 450px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero .banner .content {
   border: none;
}

.categories .row .col {
   padding: 10px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 5px;
   font-weight: 500;
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.categories .row .col p {
   margin-top: 10px;
   font-size: 13px;
}

.categories .row .col img {
   height: 22px;
}

.popular-service .row {
   display: flex;
   margin-top: 10px;
}

.popular-service .row .box {
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-radius: 7px;
   padding: 7px;
}

.popular-service .row .box p {
   font-size: 14px;
   margin: 5px 0 10px;
}